* {
  margin: 0;
  padding: 0;
}
.guide {
  display: block;
  padding: 1rem 0 0.8rem 0;
  font-size: 0.8rem;
  text-align: center;
  color: #555;
  font-weight: normal;
}
.emotionList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 50rem;
}
.emotionList li {
  display: inline-block;
  margin-bottom: 5px;
}
.emotionButton {
  font-size: 1rem;
  background: #ffccbc;
  transition: all 0.2s ease-in;
  padding: 0.4rem 1rem;
  min-height: 2.2rem;
  border-radius: 3rem;
  margin-right: 5px;
  color: #000;
}
.emotionButton:hover {
  transform: scale(1.05);
  cursor: pointer;
  background: #b39ddb;
  color: #fff;
}
.editBtn {
  background: none;
  color: #999;
  margin-left: 10px;
}
.editBtn:hover {
  text-decoration: underline;
}
.tip {
  display: inline-block;
  border-radius: 0.7rem;
  font-size: 0.7rem;
  color: #ff8a65;
  border: 1px solid #ff8a65;
  padding: 0.05rem 0.2rem 0.2rem;
  margin-right: 4px;
}
.emotion {
  border-top: 1px solid #ddd;
  margin: 0 1em 4rem;
  padding-top: 2.2rem;
}
.title {
  text-align: center;
  color: #222;
  font-size: 1.2rem;
}
.title span {
  background: lightgoldenrodyellow;
  padding: 0.2rem 0.8rem;
}
.title svg {
  margin-left: 5px;
  color: plum;
}
