.header {
  position: relative;
  width: 100%;
  background: #b39ddb;
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

h2 {
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
  flex-shrink: 1;
}

.counter {
  font-size: 2rem;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background: peachpuff;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.logout {
  position: absolute;
  background: #9575cd;
  top: 0;
  right: 0;
  width: 4rem;
  height: 1.6rem;
  font-size: 0.7rem;
  padding: 0;
  color: #fff;
}
.logout:hover {
  cursor: pointer;
}
