.register {
  margin-top: 30px;
  text-align: center;
}
.register input {
  border-radius: 3rem;
  border: none;
  padding: 0.3rem 1rem;
  margin-bottom: 8px;
  width: 80%;
  font-weight: bold;
}
.register input::placeholder {
  color: #b0bec5;
}
.loginbtn {
  display: inline-block !important;
  width: 90%;
  height: 2.8rem;
  box-sizing: border-box;
  background: #9575cd;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  border-radius: 2rem;
  font-weight: bold;
  margin-top: 30px;
}
.loginbtn:hover {
  background: #7e57c2;
  cursor: pointer;
  scale: 1.1;
}
.regbtn {
  background: none;
  text-align: right;
  float: right;
  margin: 10px 1.5rem 0 0;
}
.regbtn:hover {
  cursor: pointer;
  text-decoration: underline;
}
